@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* ================================
   PRIMITIVE TOKENS (RAW COLORS)
   — From Designer
================================ */

@theme {
  --green-primary: #0d4728;
  --cream-bg: #fffee4;
  --cream-surface: #eeeddf;
  --olive-muted: #2e3116;
  --red-alert: #ff3333;
  --gray-secondary: #616161;
  --golden: #ffc663
}

/* ================================
   SEMANTIC TOKENS (MEANING)
================================ */

@theme {
  /* Core Brand Usage */
  --color-brand-primary: var(--green-primary);
  /* Footer / Buttons / H1 */
  --color-brand-on-dark: var(--cream-bg);
  /* Text on dark bg */

  /* Backgrounds */
  --color-bg-page: var(--cream-bg);
  --color-bg-surface: var(--cream-surface);
  --color-bg-dark: var(--green-primary);

  /* Text */
  --color-text-primary: var(--green-primary);
  /* Headings / Main text */
  --color-text-on-dark: var(--cream-bg);
  --color-text-secondary: var(--gray-secondary);

  /* Borders & Separators */
  --color-border-default: var(--cream-surface);
  --color-border-muted: var(--olive-muted);
  --color-separator: var(--olive-muted);

  /* UI States */
  --color-highlight: var(--gray-secondary);
  /* Checkboxes / secondary text */
  --color-warning: var(--red-alert);
  --color-highlight: var(--golden);
  /* Alerts / ribbons / offers */
}

/* ================================
   FONT TOKENS (GOOGLE FONTS)
================================ */

@layer base {
  :root {
    --font-display: "Playfair Display", serif;
  }
}

/* ================================
   FONT UTILITY (SAFE NAME)
================================ */

@layer utilities {
  .font-playfair {
    font-family: var(--font-display);
  }
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animate-progress {
  animation: progress 4s linear forwards;
}

.animate-shimmer {
  animation: shimmer 1.5s linear infinite forwards;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background-size: 800px 104px;
  position: relative;
}

html,
body {
  overflow-x: hidden;
}